<div class="sidebar {{ site.hyde_theme }}">
<!--   <img src="{{ '/assets/binary_repr_animated.gif' | relative_url }}" alt="{{ site.title }}" style="width: 100%; max-width: 200px; display: block; margin: 0.0rem auto 0;"> -->
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
        <img src="{{ '/assets/binary_repr_animated.gif' | relative_url }}" alt="{{ site.title }}" style="width: 100%; display: block; margin-bottom: 1rem; opacity: 0.1;">
<!--         <img src="{{ '/assets/binary_repr_animated.gif' | relative_url }}" alt="{{ site.title }}" style="width: 100%; max-width: 200px; display: block; margin-bottom: 1rem;"> -->
<!--         <img src="{{ '/assets/binary_repr_animated.gif' | relative_url }}" alt="{{ site.title }}" style="width: 100%; max-width: 200px; display: block; margin: 1.5rem auto 1rem;"> -->
      <h1>
        <a href="/">{{ site.title }}</a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == '/' %} active{% endif %}" href="/">About</a>

      {% assign pages_list = site.pages | sort: 'title' %}
      {% for node in pages_list %}
        {% if node.title != null and node.layout == 'page' and node.url != '/' %}
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
        {% endif %}
      {% endfor %}
    </nav>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
